# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Cosmos-IOS/Cosmostation/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTFLLPrioritizer.m
Cosmos-IOS/Cosmostation/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTFLLUploader.m
Cosmos-IOS/Cosmostation/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/Private/GDTFLLPrioritizer.h
Cosmos-IOS/Cosmostation/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/Private/GDTFLLUploader.h
Cosmos-IOS/Cosmostation/Cosmostation.xcworkspace/contents.xcworkspacedata
Cosmos-IOS/Cosmostation/Cosmostation.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Cosmos-IOS/Cosmostation/Cosmostation.xcworkspace/xcshareddata/swiftpm/Package.resolved
Cosmos-IOS/Cosmostation/Cosmostation.xcworkspace/xcuserdata/jj.xcuserdatad/UserInterfaceState.xcuserstate
Cosmos-IOS/Cosmostation/Pods/Firebase/LICENSE
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRAnalyticsConfiguration.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRApp.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRAppAssociationRegistration.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRBundleUtil.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRBundleUtil.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRComponent.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRComponentContainer.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRComponentType.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRConfiguration.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRCoreDiagnosticsConnector.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRDependency.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRDiagnosticsData.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRErrors.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRHeartbeatInfo.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRLogger.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIROptions.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRVersion.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/FIRVersion.m
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRAnalyticsConfiguration.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRAppAssociationRegistration.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRAppInternal.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRComponent.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRComponentContainer.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRComponentContainerInternal.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRComponentType.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRConfigurationInternal.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRCoreDiagnosticsConnector.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRDependency.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRDiagnosticsData.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRErrorCode.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRErrors.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRHeartbeatInfo.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRLibrary.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIRLogger.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Private/FIROptionsInternal.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Public/FIRApp.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Public/FIRConfiguration.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Public/FirebaseCore.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Public/FIRLoggerLevel.h
Cosmos-IOS/Cosmostation/Pods/FirebaseCore/FirebaseCore/Sources/Public/FIROptions.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/LICENSE
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/README.md
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/FIRInstallations.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/FIRInstallationsAuthTokenResult.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/FIRInstallationsAuthTokenResultInternal.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/FIRInstallationsItem.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/FIRInstallationsItem.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/FIRInstallationsLogger.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/FIRInstallationsLogger.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/FIRInstallationsVersion.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/Errors/FIRInstallationsHTTPError.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/Errors/FIRInstallationsHTTPError.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDStore.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDStore.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDTokenStore.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDTokenStore.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsItem+RegisterInstallationAPI.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsItem+RegisterInstallationAPI.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsSingleOperationPromiseCache.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsSingleOperationPromiseCache.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsStatus.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStore.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStore.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredAuthToken.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredAuthToken.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredItem.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredItem.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/Public/FirebaseInstallations.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/Public/FIRInstallations.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/Public/FIRInstallationsAuthTokenResult.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/Public/FIRInstallationsErrors.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/Public/FIRInstallationsVersion.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/SecureStorage/FIRInstallationsKeychainUtils.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/SecureStorage/FIRInstallationsKeychainUtils.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/SecureStorage/FIRSecureStorage.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/SecureStorage/FIRSecureStorage.m
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsItem+RegisterInstallationAPI.h
Cosmos-IOS/Cosmostation/Pods/FirebaseInstallations/FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsItem+RegisterInstallationAPI.m
