<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CryptoSwift (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>CryptoSwift (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>CryptoSwift (Playground) 3.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>CryptoSwift (Playground) 4.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>CryptoSwift (Playground) 5.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>CryptoSwift (Playground) 6.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>CryptoSwift (Playground) 7.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>CryptoSwift (Playground) 8.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>CryptoSwift (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
	</dict>
</dict>
</plist>
